<script>
    function borrar ()
      {
          borrar = confirm("¿Seguro que desea Eliminar?");
          return borrar;
      }

      function actualizar ()
      {
          actualizar = confirm("¿Seguro que desea actualizar?");
          if (actualizar == false) {
              window.location.href = "/"
          }
          return actualizar;
      }
</script>
</body>
</html>